@import "styles/variables.scss";

.dashboard-template-container {
  & .article-list {
    padding: 0 5%;

    @media (max-width: $viewportMedium) {
      padding: 0 15px;
    }

    @media (max-width: $viewportSmall) {
      padding: 0 5px;
    }

    & .divide-row {
      display: flex;
      justify-content: space-between;

      @media (max-width: $viewportSmall) {
        display: block;
      }
    }
  }

  & .dashboard-introduce {
    margin-left: 15px;
  }

  & .dashboard-contact {
    margin-left: 20px;
    & > div {
      margin-bottom: 7px;
    }
  }

  & .dashboard-style {
    display: flex;
    justify-content: space-between;

    @media (max-width: $viewportMedium) {
      display: inline-block;
      text-align: center;
    }

    & > div {
      position: relative;
      display: inline-block;
      margin: 10px;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background: rgba(215, 215, 215, 0.5);
      text-align: center;
      @include responsiveSize(200px, 200px);

      &.normal {
        background: rgba(0, 135, 170, 0.8);
      }
      &.hard {
        background: rgba(0, 115, 170, 0.8);
      }

      & span {
        font-size: 0.9rem;
        color: #fff;
        position: relative;
        top: 43%;
        @include responsiveFont(0.9rem);
      }
    }
  }
}
