@import "styles/variables.scss";

$maxWidth: 1.2rem;
$maxHeight: 1.2rem;

.icon-container {
  display: inline;
  margin-right: 7px;

  & .icon {
    height: 100%;
    width: 100%;
    max-width: $maxWidth;
    max-height: $maxHeight;
    margin-bottom: 3px;
    @include responsiveSize($maxWidth, $maxHeight);

    &.normal {
      min-width: 0px;
      min-height: 0px;
    }
    &.large {
      min-width: 24px;
      min-height: 24px;
    }
  }
}
