@import "styles/variables.scss";

$fontSize: 1.4rem;

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding: 20px 20px 0;

  .profile-item {
    flex: 1;
  }

  .profile-position {
    font-family: fantasy;
    font-style: italic;
    font-size: $fontSize;

    @include responsiveFont($fontSize);
  }
}
