@import "styles/variables.scss";

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  padding: 1.5em;

  .profile-item {
    flex: 1;
  }

  .profile-position {
    font-family: fantasy;
    font-style: italic;
    font-size: 1.4rem;

    @media (max-width: $viewportMedium) {
      font-size: 1.2rem;
    }

    @media (max-width: $viewportSmall) {
      font-size: 1rem;
    }
  }
}
