@import "styles/variables.scss";

$symbolWidth: 40px;

.step-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  padding-top: 20px;
  @media (max-width: $viewportSmall) {
    display: block;
  }

  & .step-icon {
    position: relative;
    width: $symbolWidth;
    height: $symbolWidth;
    border: 1px solid $step-color;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px 0;
    margin-right: 15px;
    text-align: center;
    @media (max-width: $viewportSmall) {
      left: calc(45% - 20px);
      bottom: 10px;
    }
  }

  & .step-tail {
    position: absolute;
    height: 100%;
    left: $symbolWidth/2 - 2px;
    @media (max-width: $viewportSmall) {
      left: 45%;
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      top: -22px;
      border-left: 1px solid $step-color;
    }
  }

  & .step-content {
    position: relative;
    border: 1px solid $line-color-base;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background: #fff;

    & h3 {
      margin: 0;
    }
  }
}
