@import "~antd/dist/antd.css";
@import "./variables.scss";
@import "./fonts.scss";

.App {
  .ant-layout {
    background-color: #fff;
  }

  .ant-layout-header {
    line-height: 2em;
  }

  .align-center {
    display: flex;
    justify-content: center;
  }

  font-size: $global-font-size;
  font-family: "NotoSansKR", "Gill Sans MT", "Trebuchet MS";
  @include responsiveFont($global-font-size);
}
