@font-face {
  font-family: "NotoSansKR";
  src: url("../assets/fonts/notosans/NotoSansKR-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("../assets/fonts/notosans/NotoSansKR-Light.otf");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("../assets/fonts/notosans/NotoSansKR-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
