@import "styles/variables.scss";

$maxWidth: 1.2rem;
$maxHeight: 1.2rem;

.icon-container {
  display: inline;
  margin-right: 7px;

  .icon {
    height: 100%;
    width: 100%;
    max-width: $maxWidth;
    max-height: $maxHeight;
    margin-bottom: 3px;
    @include responsiveImage($maxWidth, $maxHeight);
  }
}
