@import "styles/variables.scss";

$fontSize: 1.4rem;
$subFontSize: 1rem;

.title-container {
  margin-top: 25px;

  & .article-title {
    position: relative;
    font-weight: 500;
    color: $title-color-sub;

    & span {
      position: relative;
      background-color: #fff;
      padding: 0 10px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      border-top: 1px solid $line-color-base;
    }
  }

  & .article-title-sub {
    font-weight: 400;
    margin-left: 15px;
    color: $title-color-sub;
  }
}
